.container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 65px 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home__inner {
    padding: 25px 100px;
    background-color: #f2f3f4;
    margin: 0 60px;
    border-radius: 3px;
}

.home__title {
    margin-bottom: 22px;

    font-size: 20px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
}

.company__text {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.2;
    color: black;
}

.company__text__ul {
    padding: 0 0 0 20px ;
}

.contacts {
    overflow: hidden;
    background-color: #f2f3f4;
}

.container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}

.contacts__item {
    display: flex;
    flex-wrap: wrap;
}

.contacts__adress {
    width: 50%;
    height: 520px;
    position: relative;
}

.contacts__img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;

    transform: translateY(-50%);
}

.contacts__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 80px;
}

.contacts__title {
    margin-bottom: 0px;

    font-size: 20px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    padding: 15px 0 5px 0;
}

.contacts__text {
    font-size: 18px;
    line-height: 1.4;
    color: black;
}
